html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary,
address {
  display: block;
}

address {
  font-style: normal;
}

a {
  color: inherit;
  background-color: transparent;
  text-decoration: none;
}

a:active,
a:hover {
  outline: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

img {
  border: 0;
  max-width: 100%;
}

hr {
  height: 0;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}

button {
  overflow: visible;
  background: none;
  border: none;
  padding: 0;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  padding: .35em .625em .75em;
  margin: 0 2px;
  border: 1px solid #c0c0c0;
}

legend {
  padding: 0;
  border: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td,
th {
  padding: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

dl,
dt,
dd {
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

i,
em {
  font-style: normal;
}

@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url("../webfonts/fa-regular-400.eot");
  src: url("../webfonts/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("../webfonts/fa-regular-400.woff2") format("woff2"), url("../webfonts/fa-regular-400.woff") format("woff"), url("../webfonts/fa-regular-400.ttf") format("truetype"), url("../webfonts/fa-regular-400.svg#fontawesome") format("svg");
}

@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
  font-display: auto;
  src: url("../webfonts/fa-solid-900.eot");
  src: url("../webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("../webfonts/fa-solid-900.woff2") format("woff2"), url("../webfonts/fa-solid-900.woff") format("woff"), url("../webfonts/fa-solid-900.ttf") format("truetype"), url("../webfonts/fa-solid-900.svg#fontawesome") format("svg");
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  color: #333333;
  word-break: keep-all;
}

header {
  height: 60px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 20px;
  text-align: center;
}

header::after {
  content: '';
  display: block;
  clear: both;
}

header.main {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
}

header h1 {
  display: inline-block;
  width: 100px;
}

header h1 a {
  display: block;
}

header h1 a img {
  max-width: 100%;
}

header .btn_gnb {
  float: left;
  width: 40px;
  height: 40px;
}

header .btn_gnb span {
  display: block;
  width: 25px;
  height: 30px;
  margin: 0 auto;
  position: relative;
}

header .btn_gnb span i {
  display: block;
  position: absolute;
  left: 0;
  width: 25px;
  height: 3px;
  background: #60584c;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

header .btn_gnb span i.gl1 {
  top: 5px;
}

header .btn_gnb span i.gl2 {
  top: 13px;
}

header .btn_gnb span i.gl3 {
  bottom: 5px;
}

header .btn_gnb.on span i {
  width: 25px;
  top: 15px;
}

header .btn_gnb.on span i.gl1 {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

header .btn_gnb.on span i.gl2 {
  opacity: 0;
}

header .btn_gnb.on span i.gl3 {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

header .btn_notice {
  float: right;
  display: block;
  width: 40px;
  height: 40px;
  background: url("../images/icon_notice.png") 50% 50% no-repeat;
  background-size: 24px auto;
  position: relative;
}

header .btn_notice i {
  display: block;
  position: absolute;
  right: 3px;
  top: 3px;
  width: 15px;
  height: 15px;
  text-align: center;
  line-height: 15px;
  background-color: #e40026;
  color: #fff;
  font-size: 11px;
  font-family: 'Roboto';
  border-radius: 50%;
}

header.menu {
  background-color: #fff;
}

@media only screen and (min-width: 1280px) {
  header {
    height: 150px;
    text-align: left;
    padding: 65px 20px 0 20px;
  }
  header h1 {
    width: 130px;
    position: relative;
    z-index: 5;
  }
}

nav.gnb {
  position: fixed;
  display: block;
  right: 0;
  top: 60px;
  width: 100%;
  height: 0;
  padding: 0;
  z-index: 100;
  background-color: #fff;
  overflow-y: auto;
  -webkit-transition: height 0.3s ease-out;
  transition: height 0.3s ease-out;
}

nav.gnb .inner {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: #f8f8f8 solid 5px;
  padding: 30px 20px;
}

nav.gnb .inner .g1::after {
  content: '';
  display: block;
  clear: both;
}

nav.gnb .inner .g1 .w50 {
  float: left;
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 3px;
}

nav.gnb .inner .g1 .w50 a {
  display: block;
  height: 200px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding-top: 160px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-position: 50% 30%;
  background-repeat: no-repeat;
  background-size: 150px auto;
}

nav.gnb .inner .g1 .w50 a.btn_my {
  background-image: url("../images/bg_gnb1.png");
  background-color: #fcf9e9;
  color: #a38248;
}

nav.gnb .inner .g1 .w50 a.btn_compare {
  background-image: url("../images/bg_gnb2.png");
  background-color: #fff0f1;
  color: #ff6b71;
}

nav.gnb .inner .g1 .w100 {
  clear: both;
  padding: 6px 3px 0 3px;
}

nav.gnb .inner .g1 .w100 a {
  display: block;
  height: 30px;
  padding: 10px 0;
  font-size: 18px;
  text-align: center;
}

nav.gnb .inner .g1 .w100 a.btn_recomm {
  background-color: #eaeaea;
  color: #666;
}

nav.gnb .inner .g1 .w100 a i {
  margin-right: 10px;
  font-size: 22px;
  color: #999;
  vertical-align: middle;
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

nav.gnb .inner .g1 .w100 a i::after {
  content: "\f2b9";
}

nav.gnb .inner .g2 {
  margin-top: 20px;
}

nav.gnb .inner .g2 > li {
  border-top: #e4e4e4 solid 1px;
}

nav.gnb .inner .g2 > li:first-child {
  border-top: 0;
}

nav.gnb .inner .g2 > li a {
  display: block;
  padding: 14px 0;
  color: #000;
  font-size: 18px;
  position: relative;
}

nav.gnb .inner .g2 > li a i {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -9px;
  font-size: 18px;
  color: #777;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}

nav.gnb .inner .g2 > li a i::after {
  content: "\f054";
}

nav.gnb.on {
  height: calc(100% - 60px);
}

@media only screen and (min-width: 1280px) {
  nav.gnb {
    position: relative;
    right: auto;
    top: auto;
    width: auto;
    height: 0;
    overflow: visible;
    z-index: 1;
  }
  nav.gnb .inner {
    border-top: 0;
    padding: 30px 0;
    position: relative;
    top: -110px;
    overflow: hidden;
  }
  nav.gnb .inner::after {
    content: '';
    display: block;
    clear: both;
  }
  nav.gnb .inner .g1 {
    padding-top: 40px;
    float: right;
  }
  nav.gnb .inner .g1 li {
    float: left;
    vertical-align: middle;
    margin-right: 30px;
    font-size: 18px;
    font-weight: bold;
  }
  nav.gnb .inner .g1 li:last-child {
    margin-left: 0;
  }
  nav.gnb .inner .g1 .w50 {
    width: auto;
    padding: 0;
    margin-right: 10px;
  }
  nav.gnb .inner .g1 .w50 a {
    display: inline;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 5px 20px;
    border: #b2b2b2 solid 2px;
    border-radius: 100px;
  }
  nav.gnb .inner .g1 .w50 a.btn_my {
    background: none;
    color: #000;
  }
  nav.gnb .inner .g1 .w50 a.btn_compare {
    background: none;
    color: #000;
  }
  nav.gnb .inner .g2 {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 0;
  }
  nav.gnb .inner .g2::after {
    content: '';
    display: block;
    clear: both;
  }
  nav.gnb .inner .g2 > li {
    border-top: 0;
    float: left;
  }
  nav.gnb .inner .g2 > li a {
    display: block;
    padding: 20px 0;
    color: #555;
    font-size: 14px;
    position: relative;
  }
  nav.gnb .inner .g2 > li a i {
    position: static;
    right: auto;
    top: auto;
    margin-top: 0;
    font-size: 12px;
    vertical-align: 1px;
    color: #777;
    font-family: 'Roboto';
  }
  nav.gnb .inner .g2 > li a i::after {
    content: "|";
    padding-left: 10px;
    margin-right: 10px;
  }
  nav.gnb .inner .g2 > li.notice a i {
    display: inline-block;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 15px;
    background-color: #e40026;
    color: #fff;
    font-size: 11px;
    font-family: 'Roboto';
    border-radius: 50%;
    vertical-align: middle;
    margin-left: 5px;
  }
  nav.gnb .inner .g2 > li.notice a i::after {
    content: "";
  }
}

main .tit_sub {
  border-top: #e5e5e5 solid 1px;
  border-bottom: #e5e5e5 solid 1px;
  background: url("../images/bg_title.png") top right no-repeat;
  background-size: auto 150px;
  background-color: #ffde00;
  text-align: center;
  color: #000;
  font-weight: bold;
  font-size: 25px;
  line-height: 1.2em;
  padding: 28px 0;
}

main .tit_sub p {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin-top: 10px;
}

main .tit_sub.t1 {
  background-color: #ffde00;
}

main .tit_sub.t2 {
  background-color: #cbdff7;
}

main .tit_sub.t3 {
  background-color: #f8ead0;
}

@media only screen and (min-width: 1280px) {
  main .tit_sub {
    border-top: #e5e5e5 solid 2px;
    border-bottom: #e5e5e5 solid 2px;
    background: url("../images/bg_title_b.png") top center no-repeat;
    background-size: auto 250px;
    font-size: 40px;
    padding: 50px 0;
  }
  main .tit_sub p {
    font-size: 20px;
  }
}

main .notice .counter {
  padding: 10px 20px;
  font-size: 16px;
}

main .notice .counter em {
  color: #eb3700;
}

main .notice .list {
  border-top: #e4e4e4 solid 1px;
  padding-bottom: 50px;
}

main .notice .list ul {
  padding: 0 20px;
}

main .notice .list ul > li {
  border-top: #eeeeee solid 1px;
  padding: 15px 0;
}

main .notice .list ul > li::after {
  content: '';
  display: block;
  clear: both;
}

main .notice .list ul > li .date {
  font-size: 18px;
  font-weight: bold;
  font-family: 'Roboto';
}

main .notice .list ul > li .cate {
  font-size: 12px;
  color: #a38248;
  margin-top: 5px;
  width: 80px;
  float: right;
  text-align: right;
}

main .notice .list ul > li .exp {
  font-size: 16px;
  color: #555;
  margin-top: 5px;
}

main .notice .list ul > li:first-child {
  border-top: 0;
}

main .notice .list .btn_more {
  border-top: #e5e5e5 solid 1px;
  background-color: #f8f8f8;
  padding: 10px 0;
  width: 100%;
}

@media only screen and (min-width: 1280px) {
  main .notice .inner {
    padding: 50px 0;
  }
  main .notice .inner .counter {
    font-size: 20px;
  }
  main .notice .inner .list ul li .date {
    font-size: 28px;
  }
  main .notice .inner .list ul li .cate {
    font-size: 20px;
    width: 150px;
  }
  main .notice .inner .list ul li .exp {
    font-size: 24px;
  }
  main .notice .inner .list .btn_more {
    font-size: 24px;
  }
}

footer {
  background-color: #545045;
  color: #fff;
  font-size: 12px;
  line-height: 1.5em;
}

footer .inner {
  padding: 20px 20px 50px 20px;
}

footer .inner .links {
  font-size: 13px;
  color: #fff;
}

footer .inner .links::after {
  content: '';
  display: block;
  clear: both;
}

footer .inner .links p:first-child {
  float: left;
}

footer .inner .links p:first-child a {
  margin-right: 15px;
}

footer .inner .links p:last-child {
  float: right;
}

footer .inner .links p:last-child .btn1 {
  padding: 5px 20px 6px 20px;
  border-radius: 100px;
  background-color: #ffbb00;
  font-weight: bold;
}

footer .inner .sns {
  margin-top: 30px;
}

footer .inner .sns button,
footer .inner .sns a {
  display: inline-block;
  width: 45px;
  height: 45px;
  background-image: url("../images/icon_sns.png");
  background-repeat: no-repeat;
  background-size: auto 45px;
  margin-right: 10px;
}

footer .inner .sns button.kakao,
footer .inner .sns a.kakao {
  background-position: 0 0;
}

footer .inner .sns button.facebook,
footer .inner .sns a.facebook {
  background-position: -55px 0;
}

footer .inner .sns button.instagram,
footer .inner .sns a.instagram {
  background-position: -110px 0;
}

footer .inner .sns button.youtube,
footer .inner .sns a.youtube {
  background-position: -165px 0;
}

footer .inner .sns button.naver,
footer .inner .sns a.naver {
  background-position: -220px 0;
}

footer .inner .tel {
  margin-top: 30px;
  padding: 20px 5px;
  border-top: #aeaeae solid 1px;
  border-bottom: #aeaeae solid 1px;
}

footer .inner .tel dl > dt {
  font-size: 18px;
  color: #fff;
  font-weight: bold;
}

footer .inner .tel dl > dd {
  margin-top: 10px;
  font-size: 12px;
  color: #cdcdcd;
}

footer .inner .tel dl > dd strong {
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  margin-right: 15px;
}

footer .inner .info {
  margin-top: 25px;
}

footer .inner .info span {
  margin-right: 10px;
}

footer .inner .info .copy {
  color: #cdcdcd;
  margin-top: 5px;
  font-family: 'Roboto';
}

@media only screen and (min-width: 1280px) {
  footer .inner {
    padding-top: 30px;
  }
  footer .inner::after {
    content: '';
    display: block;
    clear: both;
  }
  footer .inner .links {
    float: left;
    width: 50%;
    padding: 6px 0 30px 0;
    font-size: 18px;
  }
  footer .inner .links p:last-child {
    float: left;
  }
  footer .inner .sns {
    float: right;
    width: 50%;
    margin-top: 0;
    text-align: right;
  }
  footer .inner .tel {
    margin-top: 50px;
    float: right;
    width: 50%;
    padding: 30px 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  footer .inner .tel dl > dt {
    font-size: 26px;
  }
  footer .inner .tel dl > dd {
    padding-top: 10px;
    font-size: 16px;
  }
  footer .inner .tel dl > dd strong {
    font-size: 26px;
  }
  footer .inner .info {
    margin-top: 50px;
    float: left;
    width: 50%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  footer .inner .info span {
    font-size: 16px;
  }
  footer .inner .info .copy {
    margin-top: 20px;
    font-size: 16px;
  }
}

@media only screen and (max-width: 1279px) {
  .inner {
    margin: 0 auto;
    max-width: 1024px;
  }
}

@media only screen and (min-width: 1280px) {
  .inner {
    margin: 0 auto;
    max-width: 1280px;
  }
}

.hide {
  font-size: 0;
}

h2 {
  font-size: 1.3rem;
}

@media only screen and (max-width: 1279px) {
  .m_hide {
    display: none !important;
  }
}

@media only screen and (min-width: 1280px) {
  .p_hide {
    display: none !important;
  }
}

.pt5 {
  padding-top: 5px !important;
}

.m1 .slider1 li {
  height: 500px;
  padding: 60px 20px 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.m1 .slider1 li .inner {
  height: 100%;
}

.m1 .slider1 li p.tit {
  padding-top: 25px;
  font-size: 40px;
  line-height: 1em;
}

.m1 .slider1 li p.tit b {
  font-weight: bold;
}

.m1 .slider1 li i {
  display: inline-block;
  width: 30px;
  height: 2px;
  margin-top: 10px;
  background-color: #ffbb00;
}

.m1 .slider1 li p.exp {
  padding-top: 10px;
  font-size: 13px;
}

.m1 .slider1 li a {
  display: inline-block;
  margin-top: 20px;
  font-size: 13px;
  color: #60584c;
  text-decoration: underline;
}

.m1 .slider1 li.s1 {
  background-color: #ecf7ea;
}

.m1 .slider1 li.s1 .inner {
  background-image: url("../images/bg_mainTop1.png");
  background-position: 50% 80%;
  background-repeat: no-repeat;
  background-size: auto 60%;
}

.m1 .slider1 li.s2 {
  background-color: #d5e2f7;
}

.m1 .slider1 li.s2 .inner {
  background-image: url("../images/bg_mainTop2.png");
  background-position: 75% 70%;
  background-repeat: no-repeat;
  background-size: auto 60%;
}

.m1 .slider1 li.s3 {
  background-color: #f7f2d5;
}

.m1 .slider1 li.s3 .inner {
  background-image: url("../images/bg_mainTop3.png");
  background-position: 50% 70%;
  background-repeat: no-repeat;
  background-size: auto 50%;
}

.m1 .slider1 .pagination1 {
  bottom: 55px;
  left: 0;
  width: 100%;
}

.m1 .slider1 .pagination1 .swiper-pagination-bullet-active {
  opacity: 1;
  background: #60584c;
}

@media only screen and (min-width: 769px) and (max-width: 1279px) {
  .m1 .slider1 li .inner {
    padding-left: 40px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .m1 .slider1 li.s1 .inner {
    background-position: 80% 50%;
  }
  .m1 .slider1 li.s2 .inner {
    background-position: 80% 50%;
  }
  .m1 .slider1 li.s3 .inner {
    background-position: 80% 50%;
  }
}

@media only screen and (min-width: 1280px) {
  .m1 .slider1 li {
    height: 650px;
    padding: 110px 20px 0 20px;
  }
  .m1 .slider1 li .inner {
    padding-left: 50px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .m1 .slider1 li p.tit {
    padding-top: 40px;
    font-size: 50px;
    color: #000;
  }
  .m1 .slider1 li i {
    width: 50px;
    height: 4px;
    margin-top: 30px;
  }
  .m1 .slider1 li p.exp {
    padding-top: 30px;
    font-size: 20px;
    color: #555;
  }
  .m1 .slider1 li a {
    display: inline-block;
    margin-top: 40px;
    font-size: 22px;
    color: #000;
    text-decoration: none;
    border: #000 solid 2px;
    padding: 5px 30px;
  }
  .m1 .slider1 li.s1 .inner {
    background-position: 80% 50%;
    background-size: auto 90%;
  }
  .m1 .slider1 li.s2 .inner {
    background-position: 80% 50%;
    background-size: auto 90%;
  }
  .m1 .slider1 li.s3 .inner {
    background-position: 80% 50%;
    background-size: auto 80%;
  }
}

.m2 {
  position: relative;
  z-index: 10;
  margin-top: -55px;
  padding: 0 20px 50px 20px;
}

.m2 ul > li {
  margin-top: 10px;
}

.m2 ul > li a {
  display: table;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100px;
  width: 100%;
  padding: 15px 40px 15px 90px;
  position: relative;
}

.m2 ul > li a::before {
  content: '';
  display: block;
  position: absolute;
  left: 15px;
  top: 50%;
  width: 55px;
  height: 55px;
  margin-top: -27px;
  background-size: 55px auto;
  background-repeat: no-repeat;
}

.m2 ul > li a b {
  display: table-cell;
  vertical-align: middle;
}

.m2 ul > li a b strong {
  display: block;
  font-size: 18px;
}

.m2 ul > li a b span {
  display: block;
  font-size: 14px;
  margin-top: 5px;
}

.m2 ul > li a i {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -20px;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}

.m2 ul > li a i::before {
  content: "\f054";
}

.m2 ul > li a.btn_main1 {
  background-color: #ffde00;
}

.m2 ul > li a.btn_main1::before {
  background-image: url("../images/icon_mainMenu.png");
  background-position: 0 0;
}

.m2 ul > li a.btn_main1 strong {
  color: #000;
}

.m2 ul > li a.btn_main1 span {
  color: #000;
}

.m2 ul > li a.btn_main1 i {
  background-color: #60584c;
  color: #ffde00;
}

.m2 ul > li a.btn_main2 {
  background-color: #4e4e4e;
}

.m2 ul > li a.btn_main2::before {
  background-image: url("../images/icon_mainMenu.png");
  background-position: 0 -55px;
}

.m2 ul > li a.btn_main2 strong {
  color: #ffca00;
}

.m2 ul > li a.btn_main2 span {
  color: #fff;
}

.m2 ul > li a.btn_main2 i {
  background-color: #e2e0d9;
  color: #4e4e4e;
}

.m2 ul > li a.btn_main3 {
  background-color: #e2e0d9;
}

.m2 ul > li a.btn_main3::before {
  background-image: url("../images/icon_mainMenu.png");
  background-position: 0 -110px;
}

.m2 ul > li a.btn_main3 strong {
  color: #000;
}

.m2 ul > li a.btn_main3 span {
  color: #000;
}

.m2 ul > li a.btn_main3 i {
  background-color: #a38248;
  color: #e2e0d9;
}

.m2 ul > li a.btn_main4 {
  background-color: #a38248;
}

.m2 ul > li a.btn_main4::before {
  background-image: url("../images/icon_mainMenu.png");
  background-position: 0 -165px;
}

.m2 ul > li a.btn_main4 strong {
  color: #ffca00;
}

.m2 ul > li a.btn_main4 span {
  color: #fff;
}

.m2 ul > li a.btn_main4 i {
  background-color: #ffde00;
  color: #a38248;
}

@media only screen and (min-width: 1280px) {
  .m2 ul {
    margin-left: -20px;
  }
  .m2 ul::after {
    content: '';
    display: block;
    clear: both;
  }
  .m2 ul > li {
    float: left;
    width: 25%;
    padding-left: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .m2 ul > li a {
    height: 300px;
    padding: 10px;
  }
  .m2 ul > li a::before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 30px;
    width: 110px;
    height: 110px;
    margin-top: 0;
    margin-left: -55px;
    background-size: 110px auto;
    background-repeat: no-repeat;
  }
  .m2 ul > li a b {
    text-align: center;
    padding-top: 145px;
    vertical-align: top;
  }
  .m2 ul > li a b strong {
    font-size: 28px;
  }
  .m2 ul > li a b span {
    font-size: 18px;
    margin-top: 5px;
  }
  .m2 ul > li a i {
    width: 50px;
    height: 50px;
    line-height: 50px;
    top: 100%;
    margin-top: -50px;
  }
  .m2 ul > li a.btn_main1::before {
    background-position: 0 0;
  }
  .m2 ul > li a.btn_main2::before {
    background-position: 0 -110px;
  }
  .m2 ul > li a.btn_main3::before {
    background-position: 0 -220px;
  }
  .m2 ul > li a.btn_main4::before {
    background-position: 0 -330px;
  }
}

.m3 {
  padding: 40px 20px 50px 20px;
  background: #f1f0ee;
}

.m3 .counter1 {
  text-align: center;
}

.m3 .counter1 strong {
  font-size: 90px;
  color: #000;
  font-family: 'Roboto';
}

.m3 .counter1 em {
  font-size: 14px;
  font-weight: bold;
}

.m3 .counter1 span {
  font-size: 14px;
  color: #999;
  margin-left: 10px;
}

.m3 .counter1 span::before {
  content: '|';
  display: inline-block;
  padding-right: 10px;
  font-size: 12px;
  color: #cfcfcf;
}

.m3 .counter2 {
  border-top: #aeaeae solid 1px;
  border-bottom: #aeaeae solid 1px;
  padding: 20px 0;
  margin-top: 20px;
}

.m3 .counter2::after {
  content: '';
  display: block;
  clear: both;
}

.m3 .counter2 > li {
  float: left;
  width: 33.333%;
  border-left: #cfcfcf solid 1px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px 0 10px 0;
}

.m3 .counter2 > li:first-child {
  border-left: 0;
}

.m3 .counter2 > li dl > dt {
  color: #777;
  font-size: 13px;
}

.m3 .counter2 > li dl > dd {
  color: #000;
  font-size: 12px;
}

.m3 .counter2 > li dl > dd strong {
  font-size: 30px;
  font-family: 'Roboto';
}

@media only screen and (min-width: 1280px) {
  .m3::after {
    content: '';
    display: block;
    clear: both;
  }
  .m3 .counter1 {
    float: left;
    width: 50%;
    margin: 50px 0;
  }
  .m3 .counter1 em {
    font-size: 20px;
  }
  .m3 .counter1 span {
    font-size: 18px;
  }
  .m3 .counter2 {
    float: right;
    width: 50%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 50px 0;
  }
  .m3 .counter2 > li dl > dt {
    font-size: 20px;
  }
  .m3 .counter2 > li dl > dd {
    font-size: 18px;
  }
  .m3 .counter2 > li dl > dd strong {
    font-size: 40px;
  }
}

.m4 {
  padding: 40px 20px 50px 20px;
  background: #fff;
}

.m4 .service > li {
  margin-top: 25px;
}

.m4 .service > li div {
  text-align: center;
  height: 150px;
}

.m4 .service > li div img {
  max-height: 100%;
}

.m4 .service > li.s1 div {
  background-color: #f6ecd9;
}

.m4 .service > li.s2 div {
  background-color: #e0ebf9;
}

.m4 .service > li.s3 div {
  background-color: #fbefe9;
}

.m4 .service > li.s4 div {
  background-color: #cbdff7;
}

.m4 .service > li.s5 div {
  background-color: #f8ead0;
}

.m4 .service dl > dt {
  font-size: 18px;
  color: #000;
}

.m4 .service dl > dd {
  font-size: 14px;
  color: #555;
}

@media only screen and (min-width: 1280px) {
  .m4 .service {
    margin-left: -25px;
  }
  .m4 .service::after {
    content: '';
    display: block;
    clear: both;
  }
  .m4 .service > li {
    margin: 50px 0;
    float: left;
    width: 33.333%;
    padding-left: 25px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .m4 .service > li div {
    height: 250px;
    overflow: hidden;
    text-align: center;
  }
  .m4 .service > li div img {
    max-width: none;
    margin-left: -75px;
  }
  .m4 .service.col2 > li {
    width: 50%;
  }
  .m4 .service.col2 > li div {
    height: 280px;
  }
  .m4 .service.col2 > li div img {
    margin-left: 0;
  }
  .m4 .service dl > dt {
    font-size: 28px;
    font-weight: bold;
    margin-top: 20px;
  }
  .m4 .service dl > dd {
    font-size: 18px;
    margin-top: 10px;
  }
}

.m5 {
  padding: 40px 20px 50px 20px;
  background: #f0fafd;
}

.m5 .slider2 {
  margin-top: 25px;
  margin-right: -20px;
  height: 230px;
}

.m5 .slider2 li {
  height: 190px;
  border: #b2b2b2 solid 1px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.m5 .slider2 li .tit {
  height: 60px;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.m5 .slider2 li .tit::after {
  content: '';
  display: block;
  clear: both;
}

.m5 .slider2 li .tit p:first-child {
  float: left;
}

.m5 .slider2 li .tit p:first-child i {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  background: url("../images/bg_profilePhoto.png") 50% 100% no-repeat;
  background-size: 32px auto;
  background-color: #9c7655;
  vertical-align: middle;
  text-align: center;
}

.m5 .slider2 li .tit p:first-child b {
  display: inline-block;
  padding: 3px 15px;
  min-width: 40px;
  border-radius: 100px;
  background-color: #0090de;
  color: #fff;
  font-size: 16px;
  margin-left: 10px;
  text-align: center;
  vertical-align: middle;
}

.m5 .slider2 li .tit p:last-child {
  float: right;
  text-align: right;
  line-height: 40px;
}

.m5 .slider2 li .tit p:last-child span {
  font-size: 14p;
}

.m5 .slider2 li .exp {
  background-color: #fff;
  padding: 15px 20px 20px 20px;
}

.m5 .slider2 li .exp strong {
  color: #000;
  font-size: 18px;
  float: left;
  display: block;
}

.m5 .slider2 li .exp .point {
  float: right;
  display: block;
}

.m5 .slider2 li .exp .point i {
  display: inline-block;
  width: 15px;
  height: 15px;
  color: #dbdbdb;
  font-siZe: 15px;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}

.m5 .slider2 li .exp .point i::after {
  content: "\f005";
}

.m5 .slider2 li .exp .point i.on {
  color: #eb3700;
}

@media only screen and (min-width: 1280px) {
  .m5 .slider2 li .exp .point i {
    width: 20px;
    height: 20px;
    font-siZe: 20px;
  }
}

.m5 .slider2 li .exp p {
  clear: both;
  color: #555;
  font-size: 14px;
  display: block;
  margin-top: 5px;
  height: 4.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  line-height: 1.5em;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.m5 .slider2 .swiper-slide {
  width: 84%;
}

.m5 .slider2 .pagination2 {
  bottom: 0;
  left: 0;
  width: 100%;
}

.m5 .slider2 .pagination2 .swiper-pagination-bullet-active {
  opacity: 1;
  background: #60584c;
}

@media only screen and (min-width: 1280px) {
  .m5 .slider2 {
    margin: 50px 0;
    height: 375px;
  }
  .m5 .slider2 li {
    height: 335px;
  }
  .m5 .slider2 li .tit {
    height: 105px;
    padding: 25px 20px;
  }
  .m5 .slider2 li .tit p:first-child i {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-size: 50px auto;
  }
  .m5 .slider2 li .tit p:first-child b {
    font-size: 24px;
  }
  .m5 .slider2 li .tit p:last-child {
    line-height: 60px;
  }
  .m5 .slider2 li .tit p:last-child span {
    font-size: 18p;
  }
  .m5 .slider2 li .exp {
    background-color: #fff;
    padding: 25px 30px;
  }
  .m5 .slider2 li .exp strong {
    font-size: 24px;
  }
  .m5 .slider2 li .exp p {
    color: #555;
    font-size: 18px;
    display: block;
    margin-top: 5px;
    height: 7.58em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    line-height: 1.5em;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
  }
}

.m6 {
  margin-bottom: 10px;
  background-color: #ffde00;
}

.m6 .bnr {
  background: url("../images/bg_mainBnr4.png") 50% 50% no-repeat;
  background-size: 375px auto;
  height: 263px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.m6 .bnr strong {
  display: inline-block;
  margin-top: 94px;
  font-size: 25px;
  color: #000;
}

.m6 .bnr p {
  font-size: 12px;
}

.m6 .bnr a {
  display: inline-block;
  margin-top: 32px;
  font-size: 14px;
  font-weight: bold;
}

@media only screen and (min-width: 1280px) {
  .m6 {
    margin-bottom: 60px;
  }
  .m6 .bnr {
    background: url("../images/bg_mainBnr4_b.png") 50% 50% no-repeat;
    background-size: 1280px auto;
    height: 315px;
  }
  .m6 .bnr strong {
    margin-top: 100px;
    font-size: 40px;
  }
  .m6 .bnr p {
    font-size: 20px;
  }
  .m6 .bnr a {
    margin-top: 55px;
    font-size: 20px;
  }
}

.main_tit {
  text-align: center;
  font-size: 25px;
  color: #aaa498;
  font-weight: normal;
  position: relative;
}

.main_tit strong {
  color: #000;
  font-weight: normal;
}

.main_tit::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  width: 20%;
  height: 1px;
  background-color: #ffbb00;
}

.main_tit::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  width: 20%;
  height: 1px;
  background-color: #ffbb00;
}

@media only screen and (min-width: 1280px) {
  .main_tit {
    font-size: 50px;
  }
  .main_tit::before {
    width: 35%;
    height: 5px;
    margin-top: -3px;
  }
  .main_tit::after {
    width: 35%;
    height: 5px;
    margin-top: -3px;
  }
}

.main_exp {
  text-align: center;
  font-size: 14px;
  color: #aaa498;
  margin-top: 10px;
}

@media only screen and (min-width: 1280px) {
  .main_exp {
    font-size: 20px;
  }
}

.m11 {
  padding: 30px 20px 50px 20px;
  font-size: 14px;
}

@media only screen and (min-width: 1280px) {
  .m11 {
    font-size: 20px;
  }
}

.m11 .exp > li {
  position: relative;
  margin-top: 5px;
  padding-left: 20px;
}

.m11 .exp > li::before {
  content: '-';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
}

.m11 .exp strong {
  color: #000;
}

.m11 .exp em {
  background-color: #cbdff7;
}

.m11 .exp .btn_go {
  padding: 2px 0;
  border: #b2b2b2 solid 1px;
  background-color: #fff;
  font-weight: bold;
  font-size: 0.9em;
  display: block;
  width: 120px;
  text-align: center;
  margin: 5px 0 0 0;
}

@media only screen and (min-width: 1280px) {
  .m11 .exp .btn_go {
    width: 180px;
    margin: 0 0 0 10px;
    display: inline-block;
  }
}

.m11 .link {
  margin-top: 30px;
  border: #000 solid 1px;
  padding: 30px 20px;
}

.m11 .link a,
.m11 .link button {
  padding: 8px 20px;
  background-color: #ffbb00;
  font-weight: bold;
  display: block;
  margin: 10px 0 0 0;
  text-align: center;
  color: #000;
}

@media only screen and (min-width: 1280px) {
  .m11 .link {
    margin-top: 50px;
  }
  .m11 .link a,
  .m11 .link button {
    display: inline-block;
    margin: 0 0 0 10px;
  }
}

.m11 .sp_list {
  margin-top: 20px;
}

.m11 .sp_list > li {
  margin-top: 10px;
  text-align: center;
}

@media only screen and (min-width: 1280px) {
  .m11 .sp_list {
    margin-top: 50px;
    margin-left: -25px;
  }
  .m11 .sp_list::after {
    content: '';
    display: block;
    clear: both;
  }
  .m11 .sp_list > li {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    float: left;
    width: 50%;
    padding-left: 25px;
    margin-top: 10px;
    text-align: center;
  }
}

.m11 .input_list > li {
  margin-top: 15px;
}

.m11 .input_list > li label {
  color: #000;
  font-size: 16px;
  font-weight: bold;
}

@media only screen and (min-width: 1280px) {
  .m11 .input_list > li label {
    font-size: 20px;
  }
}

.m11 .input_list > li input[type="text"],
.m11 .input_list > li input[type="password"],
.m11 .input_list > li input[type="tel"],
.m11 .input_list > li input[type="email"] {
  margin-top: 10px;
  border: #e5e5e5 solid 1px;
  padding: 5px 10px;
  width: 100%;
  height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (min-width: 1280px) {
  .m11 .input_list > li input[type="text"],
  .m11 .input_list > li input[type="password"],
  .m11 .input_list > li input[type="tel"],
  .m11 .input_list > li input[type="email"] {
    height: 60px;
    font-size: 20px;
  }
}

.m11 .input_list > li textarea {
  margin-top: 10px;
  border: #e5e5e5 solid 1px;
  padding: 5px 10px;
  width: 100%;
  height: 140px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.m11 .input_list > li input[type="checkbox"],
.m11 .input_list > li input[type="radio"] {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}

.m11 .input_list > li label.terms {
  display: table;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 20px;
  width: 100%;
  padding: 0 0 0 25px;
  position: relative;
  vertical-align: middle;
  letter-spacing: -1px;
  font-size: 13px;
  color: #000;
  font-weight: normal;
}

.m11 .input_list > li label.terms::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 10px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -10px;
  border: #e5e5e5 solid 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (min-width: 1280px) {
  .m11 .input_list > li label.terms {
    font-size: 20px;
    padding: 0 0 0 35px;
  }
  .m11 .input_list > li label.terms::before {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 20px;
    margin-top: -15px;
  }
}

.m11 .input_list > li input[type="checkbox"]:checked + label.terms::before {
  border: 0;
  background-color: #ffde00;
  color: #000;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: "\f00c";
}

@media only screen and (min-width: 1280px) {
  .m11 .input_list {
    width: 650px;
    margin: 0 auto;
  }
}

.m11 .btns {
  margin-top: 30px;
  text-align: center;
}

.m11 .btns::after {
  content: '';
  display: block;
  clear: both;
}

@media only screen and (min-width: 1280px) {
  .m11 .btns {
    margin-top: 50px;
  }
}

.m11 .btns a,
.m11 .btns button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  min-width: 110px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #333;
  font-size: 14px;
  background-color: #ffde00;
}

@media only screen and (min-width: 1280px) {
  .m11 .btns a,
  .m11 .btns button {
    width: 160px;
    height: 60px;
    line-height: 60px;
    font-size: 20px;
  }
}

.popup {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 60;
  background-color: rgba(0, 0, 0, 0.7);
}

.popup .pop_in .pop_header {
  height: 0;
  overflow: hidden;
}

.popup .pop_in .pop_header h2 {
  font-size: 0;
}

.popup .pop_in .pop_main {
  height: calc(100% - 50px);
  min-height: 300px;
  background-color: #f1f0ee;
  text-align: center;
}

.popup .pop_in .pop_footer {
  overflow: hidden;
  height: 50px;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
}

.popup .pop_in .pop_footer .check_today,
.popup .pop_in .pop_footer .check_allday {
  float: left;
}

.popup .pop_in .pop_footer .check_today input[type="checkbox"],
.popup .pop_in .pop_footer .check_allday input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.popup .pop_in .pop_footer .check_today label,
.popup .pop_in .pop_footer .check_allday label {
  display: table;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 20px;
  width: 100%;
  padding: 0 0 0 25px;
  position: relative;
  vertical-align: middle;
  font-size: 16px;
  letter-spacing: -1px;
  color: #000;
}

.popup .pop_in .pop_footer .check_today label::before,
.popup .pop_in .pop_footer .check_allday label::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 10px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -10px;
  border: #e5e5e5 solid 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.popup .pop_in .pop_footer .check_today input[type="checkbox"]:checked + label::before,
.popup .pop_in .pop_footer .check_allday input[type="checkbox"]:checked + label::before {
  border: 0;
  background-color: #ffde00;
  color: #000;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: "\f00c";
}

.popup .pop_in .pop_footer .btn_close {
  float: right;
  background-color: #000;
  color: #fff;
  padding: 3px 10px;
}
/*# sourceMappingURL=main.css.map */