html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary,
address {
  display: block;
}

address {
  font-style: normal;
}

a {
  color: inherit;
  background-color: transparent;
  text-decoration: none;
}

a:active,
a:hover {
  outline: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

img {
  border: 0;
  max-width: 100%;
}

hr {
  height: 0;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}

button {
  overflow: visible;
  background: none;
  border: none;
  padding: 0;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  padding: .35em .625em .75em;
  margin: 0 2px;
  border: 1px solid #c0c0c0;
}

legend {
  padding: 0;
  border: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td,
th {
  padding: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

dl,
dt,
dd {
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

i,
em {
  font-style: normal;
}

@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url("../webfonts/fa-regular-400.eot");
  src: url("../webfonts/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("../webfonts/fa-regular-400.woff2") format("woff2"), url("../webfonts/fa-regular-400.woff") format("woff"), url("../webfonts/fa-regular-400.ttf") format("truetype"), url("../webfonts/fa-regular-400.svg#fontawesome") format("svg");
}

@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
  font-display: auto;
  src: url("../webfonts/fa-solid-900.eot");
  src: url("../webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("../webfonts/fa-solid-900.woff2") format("woff2"), url("../webfonts/fa-solid-900.woff") format("woff"), url("../webfonts/fa-solid-900.ttf") format("truetype"), url("../webfonts/fa-solid-900.svg#fontawesome") format("svg");
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  color: #333333;
  word-break: keep-all;
}

header {
  height: 60px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 20px;
  text-align: center;
}

header::after {
  content: '';
  display: block;
  clear: both;
}

header.main {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
}

header h1 {
  display: inline-block;
  width: 100px;
}

header h1 a {
  display: block;
}

header h1 a img {
  max-width: 100%;
}

header .btn_gnb {
  float: left;
  width: 40px;
  height: 40px;
}

header .btn_gnb span {
  display: block;
  width: 25px;
  height: 30px;
  margin: 0 auto;
  position: relative;
}

header .btn_gnb span i {
  display: block;
  position: absolute;
  left: 0;
  width: 25px;
  height: 3px;
  background: #60584c;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

header .btn_gnb span i.gl1 {
  top: 5px;
}

header .btn_gnb span i.gl2 {
  top: 13px;
}

header .btn_gnb span i.gl3 {
  bottom: 5px;
}

header .btn_gnb.on span i {
  width: 25px;
  top: 15px;
}

header .btn_gnb.on span i.gl1 {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

header .btn_gnb.on span i.gl2 {
  opacity: 0;
}

header .btn_gnb.on span i.gl3 {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

header .btn_notice {
  float: right;
  display: block;
  width: 40px;
  height: 40px;
  background: url("../images/icon_notice.png") 50% 50% no-repeat;
  background-size: 24px auto;
  position: relative;
}

header .btn_notice i {
  display: block;
  position: absolute;
  right: 3px;
  top: 3px;
  width: 15px;
  height: 15px;
  text-align: center;
  line-height: 15px;
  background-color: #e40026;
  color: #fff;
  font-size: 11px;
  font-family: 'Roboto';
  border-radius: 50%;
}

header.menu {
  background-color: #fff;
}

@media only screen and (min-width: 1280px) {
  header {
    height: 150px;
    text-align: left;
    padding: 65px 20px 0 20px;
  }
  header h1 {
    width: 130px;
    position: relative;
    z-index: 5;
  }
}

nav.gnb {
  position: fixed;
  display: block;
  right: 0;
  top: 60px;
  width: 100%;
  height: 0;
  padding: 0;
  z-index: 100;
  background-color: #fff;
  overflow-y: auto;
  -webkit-transition: height 0.3s ease-out;
  transition: height 0.3s ease-out;
}

nav.gnb .inner {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: #f8f8f8 solid 5px;
  padding: 30px 20px;
}

nav.gnb .inner .g1::after {
  content: '';
  display: block;
  clear: both;
}

nav.gnb .inner .g1 .w50 {
  float: left;
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 3px;
}

nav.gnb .inner .g1 .w50 a {
  display: block;
  height: 200px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding-top: 160px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-position: 50% 30%;
  background-repeat: no-repeat;
  background-size: 150px auto;
}

nav.gnb .inner .g1 .w50 a.btn_my {
  background-image: url("../images/bg_gnb1.png");
  background-color: #fcf9e9;
  color: #a38248;
}

nav.gnb .inner .g1 .w50 a.btn_compare {
  background-image: url("../images/bg_gnb2.png");
  background-color: #fff0f1;
  color: #ff6b71;
}

nav.gnb .inner .g1 .w100 {
  clear: both;
  padding: 6px 3px 0 3px;
}

nav.gnb .inner .g1 .w100 a {
  display: block;
  height: 30px;
  padding: 10px 0;
  font-size: 18px;
  text-align: center;
}

nav.gnb .inner .g1 .w100 a.btn_recomm {
  background-color: #eaeaea;
  color: #666;
}

nav.gnb .inner .g1 .w100 a i {
  margin-right: 10px;
  font-size: 22px;
  color: #999;
  vertical-align: middle;
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

nav.gnb .inner .g1 .w100 a i::after {
  content: "\f2b9";
}

nav.gnb .inner .g2 {
  margin-top: 20px;
}

nav.gnb .inner .g2 > li {
  border-top: #e4e4e4 solid 1px;
}

nav.gnb .inner .g2 > li:first-child {
  border-top: 0;
}

nav.gnb .inner .g2 > li a {
  display: block;
  padding: 14px 0;
  color: #000;
  font-size: 18px;
  position: relative;
}

nav.gnb .inner .g2 > li a i {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -9px;
  font-size: 18px;
  color: #777;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}

nav.gnb .inner .g2 > li a i::after {
  content: "\f054";
}

nav.gnb.on {
  height: calc(100% - 60px);
}

@media only screen and (min-width: 1280px) {
  nav.gnb {
    position: relative;
    right: auto;
    top: auto;
    width: auto;
    height: 0;
    overflow: visible;
    z-index: 1;
  }
  nav.gnb .inner {
    border-top: 0;
    padding: 30px 0;
    position: relative;
    top: -110px;
    overflow: hidden;
  }
  nav.gnb .inner::after {
    content: '';
    display: block;
    clear: both;
  }
  nav.gnb .inner .g1 {
    padding-top: 40px;
    float: right;
  }
  nav.gnb .inner .g1 li {
    float: left;
    vertical-align: middle;
    margin-right: 30px;
    font-size: 18px;
    font-weight: bold;
  }
  nav.gnb .inner .g1 li:last-child {
    margin-left: 0;
  }
  nav.gnb .inner .g1 .w50 {
    width: auto;
    padding: 0;
    margin-right: 10px;
  }
  nav.gnb .inner .g1 .w50 a {
    display: inline;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 5px 20px;
    border: #b2b2b2 solid 2px;
    border-radius: 100px;
  }
  nav.gnb .inner .g1 .w50 a.btn_my {
    background: none;
    color: #000;
  }
  nav.gnb .inner .g1 .w50 a.btn_compare {
    background: none;
    color: #000;
  }
  nav.gnb .inner .g2 {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 0;
  }
  nav.gnb .inner .g2::after {
    content: '';
    display: block;
    clear: both;
  }
  nav.gnb .inner .g2 > li {
    border-top: 0;
    float: left;
  }
  nav.gnb .inner .g2 > li a {
    display: block;
    padding: 20px 0;
    color: #555;
    font-size: 14px;
    position: relative;
  }
  nav.gnb .inner .g2 > li a i {
    position: static;
    right: auto;
    top: auto;
    margin-top: 0;
    font-size: 12px;
    vertical-align: 1px;
    color: #777;
    font-family: 'Roboto';
  }
  nav.gnb .inner .g2 > li a i::after {
    content: "|";
    padding-left: 10px;
    margin-right: 10px;
  }
  nav.gnb .inner .g2 > li.notice a i {
    display: inline-block;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 15px;
    background-color: #e40026;
    color: #fff;
    font-size: 11px;
    font-family: 'Roboto';
    border-radius: 50%;
    vertical-align: middle;
    margin-left: 5px;
  }
  nav.gnb .inner .g2 > li.notice a i::after {
    content: "";
  }
}

main .tit_sub {
  border-top: #e5e5e5 solid 1px;
  border-bottom: #e5e5e5 solid 1px;
  background: url("../images/bg_title.png") top right no-repeat;
  background-size: auto 150px;
  background-color: #ffde00;
  text-align: center;
  color: #000;
  font-weight: bold;
  font-size: 25px;
  line-height: 1.2em;
  padding: 28px 0;
}

main .tit_sub p {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin-top: 10px;
}

main .tit_sub.t1 {
  background-color: #ffde00;
}

main .tit_sub.t2 {
  background-color: #cbdff7;
}

main .tit_sub.t3 {
  background-color: #f8ead0;
}

@media only screen and (min-width: 1280px) {
  main .tit_sub {
    border-top: #e5e5e5 solid 2px;
    border-bottom: #e5e5e5 solid 2px;
    background: url("../images/bg_title_b.png") top center no-repeat;
    background-size: auto 250px;
    font-size: 40px;
    padding: 50px 0;
  }
  main .tit_sub p {
    font-size: 20px;
  }
}

main .notice .counter {
  padding: 10px 20px;
  font-size: 16px;
}

main .notice .counter em {
  color: #eb3700;
}

main .notice .list {
  border-top: #e4e4e4 solid 1px;
  padding-bottom: 50px;
}

main .notice .list ul {
  padding: 0 20px;
}

main .notice .list ul > li {
  border-top: #eeeeee solid 1px;
  padding: 15px 0;
}

main .notice .list ul > li::after {
  content: '';
  display: block;
  clear: both;
}

main .notice .list ul > li .date {
  font-size: 18px;
  font-weight: bold;
  font-family: 'Roboto';
}

main .notice .list ul > li .cate {
  font-size: 12px;
  color: #a38248;
  margin-top: 5px;
  width: 80px;
  float: right;
  text-align: right;
}

main .notice .list ul > li .exp {
  font-size: 16px;
  color: #555;
  margin-top: 5px;
}

main .notice .list ul > li:first-child {
  border-top: 0;
}

main .notice .list .btn_more {
  border-top: #e5e5e5 solid 1px;
  background-color: #f8f8f8;
  padding: 10px 0;
  width: 100%;
}

@media only screen and (min-width: 1280px) {
  main .notice .inner {
    padding: 50px 0;
  }
  main .notice .inner .counter {
    font-size: 20px;
  }
  main .notice .inner .list ul li .date {
    font-size: 28px;
  }
  main .notice .inner .list ul li .cate {
    font-size: 20px;
    width: 150px;
  }
  main .notice .inner .list ul li .exp {
    font-size: 24px;
  }
  main .notice .inner .list .btn_more {
    font-size: 24px;
  }
}

@media only screen and (min-width: 1280px) {
  main {
    min-height: calc(100vh - 450px);
  }
}

footer {
  background-color: #545045;
  color: #fff;
  font-size: 12px;
  line-height: 1.5em;
}

footer .inner {
  padding: 20px 20px 50px 20px;
}

footer .inner .links {
  font-size: 13px;
  color: #fff;
}

footer .inner .links::after {
  content: '';
  display: block;
  clear: both;
}

footer .inner .links p:first-child {
  float: left;
}

footer .inner .links p:first-child a {
  margin-right: 15px;
}

footer .inner .links p:last-child {
  float: right;
}

footer .inner .links p:last-child .btn1 {
  padding: 5px 20px 6px 20px;
  border-radius: 100px;
  background-color: #ffbb00;
  font-weight: bold;
}

footer .inner .sns {
  margin-top: 30px;
}

footer .inner .sns button,
footer .inner .sns a {
  display: inline-block;
  width: 45px;
  height: 45px;
  background-image: url("../images/icon_sns.png");
  background-repeat: no-repeat;
  background-size: auto 45px;
  margin-right: 10px;
}

footer .inner .sns button.kakao,
footer .inner .sns a.kakao {
  background-position: 0 0;
}

footer .inner .sns button.facebook,
footer .inner .sns a.facebook {
  background-position: -55px 0;
}

footer .inner .sns button.instagram,
footer .inner .sns a.instagram {
  background-position: -110px 0;
}

footer .inner .sns button.youtube,
footer .inner .sns a.youtube {
  background-position: -165px 0;
}

footer .inner .sns button.naver,
footer .inner .sns a.naver {
  background-position: -220px 0;
}

footer .inner .tel {
  margin-top: 30px;
  padding: 20px 5px;
  border-top: #aeaeae solid 1px;
  border-bottom: #aeaeae solid 1px;
}

footer .inner .tel dl > dt {
  font-size: 18px;
  color: #fff;
  font-weight: bold;
}

footer .inner .tel dl > dd {
  margin-top: 10px;
  font-size: 12px;
  color: #cdcdcd;
}

footer .inner .tel dl > dd strong {
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  margin-right: 15px;
}

footer .inner .info {
  margin-top: 25px;
}

footer .inner .info span {
  margin-right: 10px;
}

footer .inner .info .copy {
  color: #cdcdcd;
  margin-top: 5px;
  font-family: 'Roboto';
}

@media only screen and (min-width: 1280px) {
  footer .inner {
    padding-top: 30px;
  }
  footer .inner::after {
    content: '';
    display: block;
    clear: both;
  }
  footer .inner .links {
    float: left;
    width: 50%;
    padding: 6px 0 30px 0;
    font-size: 18px;
  }
  footer .inner .links p:last-child {
    float: left;
  }
  footer .inner .sns {
    float: right;
    width: 50%;
    margin-top: 0;
    text-align: right;
  }
  footer .inner .tel {
    margin-top: 50px;
    float: right;
    width: 50%;
    padding: 30px 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  footer .inner .tel dl > dt {
    font-size: 26px;
  }
  footer .inner .tel dl > dd {
    padding-top: 10px;
    font-size: 16px;
  }
  footer .inner .tel dl > dd strong {
    font-size: 26px;
  }
  footer .inner .info {
    margin-top: 50px;
    float: left;
    width: 50%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  footer .inner .info span {
    font-size: 16px;
  }
  footer .inner .info .copy {
    margin-top: 20px;
    font-size: 16px;
  }
}

@media only screen and (max-width: 1279px) {
  .inner {
    margin: 0 auto;
    max-width: 1024px;
  }
}

@media only screen and (min-width: 1280px) {
  .inner {
    margin: 0 auto;
    max-width: 1280px;
  }
}

.hide {
  font-size: 0;
}

h2 {
  font-size: 1.3rem;
}

@media only screen and (max-width: 1279px) {
  .m_hide {
    display: none !important;
  }
}

@media only screen and (min-width: 1280px) {
  .p_hide {
    display: none !important;
  }
}

.pt5 {
  padding-top: 5px !important;
}

.b2 {
  padding: 30px 20px 50px 20px;
}

@media only screen and (min-width: 1280px) {
  .b2 {
    padding: 50px 0 50px 0;
  }
}

.b2 + .b2 {
  padding-top: 0;
}

@media only screen and (min-width: 1280px) {
  .b2 + .b2 {
    padding-top: 0;
  }
}

.b2 .n_list {
  border-top: #53647c solid 3px;
}

.b2 .n_list > li {
  padding: 12px 0;
  border-bottom: #e5e5e5 solid 1px;
}

.b2 .n_list > li a {
  display: block;
}

.b2 .n_list > li .pr {
  position: relative;
  padding-right: 80px;
}

.b2 .n_list > li .pr .tit {
  font-size: 18px;
  color: #000;
  font-weight: bold;
}

.b2 .n_list > li .pr .exp {
  font-size: 14px;
}

.b2 .n_list > li .pr .exp span {
  color: #777;
  font-family: 'Roboto';
}

.b2 .n_list > li .pr .exp em {
  color: #eb3700;
}

.b2 .n_list > li .pr .exp em::before {
  content: '|';
  display: inline-block;
  padding-right: 10px;
  margin-left: 10px;
  font-size: 10px;
  color: #cfcfcf;
  vertical-align: 2px;
}

.b2 .n_list > li .pr .state_r {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -21px;
  width: 80px;
  height: 42px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  line-height: 42px;
  font-size: 14px;
  border-radius: 5px;
}

.b2 .n_list > li .pr .state_r.s1 {
  border: #333 solid 1px;
  color: #333;
}

.b2 .n_list > li .pr .state_r.s2 {
  background-color: #60584c;
  color: #fff;
}

.b2 .n_list > li .pr .state_r.s3 {
  background-color: #a38248;
  color: #fff;
}

.b2 .n_list > li .pr .state_r.s4 {
  background-color: #ffde00;
  color: #333;
}

.b2 .n_list > li .pr2 {
  position: relative;
  padding-right: 20px;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}

.b2 .n_list > li .pr2::after {
  content: "\f054";
  display: block;
  position: absolute;
  right: 5px;
  top: 50%;
  margin-top: -9px;
  font-size: 18px;
  color: #777;
}

.b2 .n_list > li .pr2 .tit {
  font-size: 16px;
  color: #000;
  font-weight: bold;
  letter-spacing: -1px;
}

.b2 .n_list > li .pr2 .exp {
  font-size: 14px;
  font-weight: normal;
  margin-top: 10px;
}

.b2 .n_list > li .pr2 .exp span {
  color: #777;
  font-family: 'Roboto';
}

.b2 .n_list > li .pr2 .exp em {
  color: #777;
}

.b2 .n_list > li .pr2 .exp em::before {
  content: '|';
  display: inline-block;
  padding-right: 10px;
  margin-left: 10px;
  font-size: 10px;
  color: #cfcfcf;
  vertical-align: 2px;
}

.b2 .n_list > li .pr3 > dt {
  position: relative;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 16px;
  color: #000;
  font-weight: bold;
  letter-spacing: -1px;
}

.b2 .n_list > li .pr3 > dt::after {
  content: "\f107";
  display: block;
  position: absolute;
  right: 5px;
  top: 50%;
  margin-top: -9px;
  font-size: 18px;
  color: #777;
}

.b2 .n_list > li .pr3 > dt button {
  width: 100%;
  padding-right: 20px;
  text-align: left;
}

.b2 .n_list > li .pr3 > dd {
  display: none;
  font-size: 16px;
  padding-top: 10px;
  margin-top: 10px;
  border-top: #e5e5e5 dashed 1px;
}

.b2 .n_list > li .pr3.on > dt {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}

.b2 .n_list > li .pr3.on > dt::after {
  content: "\f106";
}

.b2 .n_list > li .pr3.on > dd {
  display: block;
}

.b2 .n_list > li .col1 {
  padding: 0 5px;
}

.b2 .n_list > li .col1 .tit {
  font-weight: bold;
  font-size: 14px;
  color: #000;
}

.b2 .n_list > li .col1 .exp {
  font-size: 14px;
  color: #555;
}

.b2 .n_list > li .col2 {
  padding: 0 5px;
}

.b2 .n_list > li .col2::after {
  content: '';
  display: block;
  clear: both;
}

.b2 .n_list > li .col2 .tit {
  float: left;
  font-weight: bold;
  font-size: 14px;
  color: #000;
  min-width: 2.5em;
}

.b2 .n_list > li .col2 .exp {
  float: right;
  text-align: right;
  font-size: 14px;
  color: #555;
}

.b2 .n_list > li .col2 .tit + .tit {
  padding-left: 20px;
}

@media only screen and (min-width: 1280px) {
  .b2 .n_list > li {
    padding: 20px 0;
  }
  .b2 .n_list > li .pr {
    padding-right: 170px;
    height: 60px;
  }
  .b2 .n_list > li .pr::after {
    content: '';
    display: block;
    clear: both;
  }
  .b2 .n_list > li .pr .tit {
    float: left;
    width: 700px;
    font-size: 26px;
    padding: 12px 0 0 10px;
  }
  .b2 .n_list > li .pr .exp {
    float: left;
    font-size: 20px;
    padding: 15px 0 0 0;
  }
  .b2 .n_list > li .pr .state_r {
    right: 20px;
    width: 150px;
    height: 60px;
    margin-top: -30px;
    line-height: 60px;
    font-size: 20px;
  }
  .b2 .n_list > li .pr2 {
    padding: 0 250px 0 0;
  }
  .b2 .n_list > li .pr2::after {
    content: '';
  }
  .b2 .n_list > li .pr2 .tit {
    font-size: 20px;
  }
  .b2 .n_list > li .pr2 .exp {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 18px;
    margin-top: 0;
  }
  .b2 .n_list > li .pr2 .exp span {
    vertical-align: middle;
  }
  .b2 .n_list > li .pr2 .exp em {
    display: inline-block;
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
  }
  .b2 .n_list > li .pr3 > dt {
    font-size: 20px;
  }
  .b2 .n_list > li .pr3 > dd {
    font-size: 20px;
  }
  .b2 .n_list > li .col1 {
    padding: 0 15px;
  }
  .b2 .n_list > li .col1 .tit {
    font-size: 22px;
  }
  .b2 .n_list > li .col1 .exp {
    font-size: 22px;
  }
  .b2 .n_list > li .col2 {
    padding: 0 15px;
  }
  .b2 .n_list > li .col2 .tit {
    font-size: 22px;
  }
  .b2 .n_list > li .col2 .exp {
    font-size: 22px;
  }
}

.b2 .n_detail {
  border-top: #53647c solid 3px;
}

.b2 .n_detail > dt {
  padding: 12px 0;
}

.b2 .n_detail > dt .tit {
  font-size: 16px;
  color: #006feb;
  font-weight: bold;
  letter-spacing: -1px;
}

.b2 .n_detail > dt .exp {
  font-size: 14px;
  font-weight: normal;
  margin-top: 10px;
}

.b2 .n_detail > dt .exp span {
  color: #777;
  font-family: 'Roboto';
}

.b2 .n_detail > dt .exp em {
  color: #777;
}

.b2 .n_detail > dt .exp em::before {
  content: '|';
  display: inline-block;
  padding-right: 10px;
  margin-left: 10px;
  font-size: 10px;
  color: #cfcfcf;
  vertical-align: 2px;
}

.b2 .n_detail > dd {
  padding: 12px 0;
  border-top: #e5e5e5 solid 1px;
}

.b2 .n_detail > dd .exp {
  font-size: 14px;
  color: #555;
}

@media only screen and (min-width: 1280px) {
  .b2 .n_detail > dt {
    padding: 30px 250px 30px 0;
    position: relative;
  }
  .b2 .n_detail > dt .tit {
    font-size: 20px;
    color: #000;
  }
  .b2 .n_detail > dt .exp {
    position: absolute;
    right: 0;
    top: 30px;
    font-size: 18px;
    margin-top: 0;
  }
  .b2 .n_detail > dt .exp span {
    vertical-align: middle;
  }
  .b2 .n_detail > dt .exp em {
    display: inline-block;
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
  }
  .b2 .n_detail > dd .exp {
    font-size: 20px;
  }
}

.b2 .col_list {
  margin-top: 50px;
  border: #b2b2b2 solid 1px;
}

.b2 .col_list::after {
  content: '';
  display: block;
  clear: both;
}

.b2 .col_list > li {
  float: left;
  width: 50%;
  height: 135px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  border-left: #b2b2b2 solid 1px;
  text-align: center;
  padding: 80px 0 10px 0;
  font-size: 14px;
}

.b2 .col_list > li:first-child {
  border-left: 0;
}

.b2 .col_list > li::before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 20px;
  width: 55px;
  height: 55px;
  margin-left: -27px;
  background-image: url("../images/icon_cs.png");
  background-repeat: no-repeat;
  background-size: 55px auto;
}

.b2 .col_list > li.tel p {
  font-family: 'Roboto';
}

.b2 .col_list > li.tel::before {
  background-position: 0 0;
}

.b2 .col_list > li.kakao::before {
  background-position: 0 -55px;
}

@media only screen and (min-width: 1280px) {
  .b2 .col_list > li {
    padding: 0 0 0 100px;
    height: 160px;
    font-size: 28px;
  }
  .b2 .col_list > li::before {
    left: 80px;
    top: 50%;
    width: 110px;
    height: 110px;
    margin-left: 0;
    margin-top: -55px;
    background-size: 110px auto;
  }
  .b2 .col_list > li.tel {
    padding-top: 40px;
  }
  .b2 .col_list > li.tel::before {
    background-position: 0 0;
  }
  .b2 .col_list > li.kakao {
    padding-top: 60px;
  }
  .b2 .col_list > li.kakao::before {
    background-position: 0 -110px;
  }
}

.b2 .d_top {
  position: relative;
  padding-right: 80px;
  margin-bottom: 15px;
}

.b2 .d_top.t2 {
  margin-top: 30px;
  margin-bottom: 5px;
}

.b2 .d_top.t2:first-child {
  margin-top: 0;
}

.b2 .d_top .tit {
  font-size: 18px;
  color: #000;
  font-weight: bold;
}

.b2 .d_top .exp {
  font-size: 14px;
  color: #777;
}

.b2 .d_top .exp em {
  color: #eb3700;
}

.b2 .d_top .exp em::before {
  content: '|';
  display: inline-block;
  padding-right: 10px;
  margin-left: 10px;
  font-size: 10px;
  color: #cfcfcf;
  vertical-align: 2px;
}

.b2 .d_top .state_r {
  position: absolute;
  right: 0;
  top: 0;
  width: 80px;
  height: 42px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  line-height: 42px;
  font-size: 14px;
  border-radius: 5px;
}

.b2 .d_top .state_r.s1 {
  border: #333 solid 1px;
  color: #333;
}

.b2 .d_top .state_r.s2 {
  background-color: #60584c;
  color: #fff;
}

.b2 .d_top .state_r.s3 {
  background-color: #a38248;
  color: #fff;
}

.b2 .d_top .state_r.s4 {
  background-color: #ffde00;
  color: #333;
}

.b2 .d_top .btn_r {
  position: absolute;
  right: 0;
  top: 0;
}

.b2 .d_top .btn_r a,
.b2 .d_top .btn_r button {
  display: block;
  width: 60px;
  height: 25px;
  line-height: 25px;
  font-size: 14px;
  text-align: center;
  border: #333 solid 1px;
  border-radius: 100px;
}

@media only screen and (min-width: 1280px) {
  .b2 .d_top {
    padding-right: 150px;
    height: 60px;
  }
  .b2 .d_top::after {
    content: '';
    display: block;
    clear: both;
  }
  .b2 .d_top.t2 {
    margin-top: 50px;
    height: auto;
  }
  .b2 .d_top .tit {
    float: left;
    width: 700px;
    font-size: 26px;
    padding: 12px 0 0 0;
  }
  .b2 .d_top .exp {
    float: left;
    font-size: 20px;
    padding: 15px 0 0 0;
  }
  .b2 .d_top .state_r {
    width: 150px;
    height: 60px;
    line-height: 60px;
    font-size: 20px;
  }
  .b2 .d_top .btn_r {
    position: absolute;
    right: 0;
    top: 12px;
  }
  .b2 .d_top .btn_r a,
  .b2 .d_top .btn_r button {
    display: block;
    width: 90px;
    height: 35px;
    line-height: 35px;
    font-size: 20px;
  }
}

.b2 .d_btm {
  margin-top: 30px;
}

.b2 .d_btm b {
  display: block;
  margin: 0 -20px;
  border-top: #f8f8f8 solid 10px;
  padding-bottom: 30px;
}

.b2 .d_btm h3 {
  font-size: 18px;
  color: #000;
  font-weight: bold;
}

.b2 .d_btm .box_list > li {
  margin-top: 10px;
}

.b2 .d_btm .box_list > li .box {
  border: #b2b2b2 solid 1px;
}

.b2 .d_btm .box_list > li .box .box1 {
  position: relative;
  padding: 10px 90px 10px 65px;
}

.b2 .d_btm .box_list > li .box .box1 i {
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -20px;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  background: url(../images/bg_profilePhoto.png) 50% 100% no-repeat;
  background-size: 32px auto;
  background-color: #9c7655;
  text-align: center;
}

.b2 .d_btm .box_list > li .box .box1 .btn_r {
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -17px;
  width: 80px;
  height: 35px;
  color: #000;
  font-size: 12px;
  background-color: #ffde00;
  border-radius: 100px;
}

.b2 .d_btm .box_list > li .box .box1 .name {
  text-align: left;
  font-size: 14px;
  color: #000;
}

.b2 .d_btm .box_list > li .box .box1 .name span {
  display: inline-block;
  margin-left: 5px;
  width: 14px;
  height: 14px;
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

.b2 .d_btm .box_list > li .box .box1 .name span::after {
  content: "\f2d2";
  color: #ffbb00;
}

.b2 .d_btm .box_list > li .box .box1 .price {
  text-align: left;
  font-size: 12px;
  color: #000;
}

.b2 .d_btm .box_list > li .box .box1 .price strong {
  font-family: 'Roboto';
  font-size: 18px;
}

.b2 .d_btm .box_list > li .box .box1 .price span {
  color: #999;
}

.b2 .d_btm .box_list > li .box .box2 {
  border-top: #e5e5e5 solid 1px;
  padding: 10px 10px;
}

.b2 .d_btm .box_list > li .box .box2::after {
  content: '';
  display: block;
  clear: both;
}

.b2 .d_btm .box_list > li .box .box2 p {
  font-size: 12px;
  color: #777;
}

.b2 .d_btm .box_list > li .box .box2 p:first-child {
  float: left;
}

.b2 .d_btm .box_list > li .box .box2 p:last-child {
  float: right;
}

@media only screen and (min-width: 1280px) {
  .b2 .d_btm b {
    display: none;
  }
  .b2 .d_btm h3 {
    font-size: 26px;
  }
  .b2 .d_btm .box_list {
    margin-left: -25px;
  }
  .b2 .d_btm .box_list::after {
    content: '';
    display: block;
    clear: both;
  }
  .b2 .d_btm .box_list > li {
    float: left;
    width: 50%;
    margin-top: 20px;
    padding-left: 25px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .b2 .d_btm .box_list > li .box .box1 {
    padding: 20px 140px 20px 90px;
  }
  .b2 .d_btm .box_list > li .box .box1 i {
    left: 10px;
    top: 50%;
    margin-top: -30px;
    display: block;
    width: 60px;
    height: 60px;
    background-size: 52px auto;
  }
  .b2 .d_btm .box_list > li .box .box1 .btn_r {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -25px;
    width: 120px;
    height: 50px;
    color: #000;
    font-size: 18px;
    background-color: #ffde00;
    border-radius: 100px;
  }
  .b2 .d_btm .box_list > li .box .box1 .name {
    font-size: 20px;
  }
  .b2 .d_btm .box_list > li .box .box1 .price {
    font-size: 18px;
  }
  .b2 .d_btm .box_list > li .box .box1 .price strong {
    font-size: 26px;
  }
  .b2 .d_btm .box_list > li .box .box2 {
    border-top: #e5e5e5 solid 1px;
    padding: 10px 10px;
  }
  .b2 .d_btm .box_list > li .box .box2::after {
    content: '';
    display: block;
    clear: both;
  }
  .b2 .d_btm .box_list > li .box .box2 p {
    font-size: 18px;
  }
}

.b2 .d_top + .d_btm {
  margin: 0 0 20px 0;
}

@media only screen and (min-width: 1280px) {
  .b2 .d_top + .d_btm {
    margin: 0 0 40px 0;
  }
  .b2 .d_top + .d_btm .box_list > li {
    width: 100%;
    margin-top: 0;
  }
}

.b2 .btns {
  margin-top: 30px;
  text-align: center;
}

.b2 .btns::after {
  content: '';
  display: block;
  clear: both;
}

@media only screen and (min-width: 1280px) {
  .b2 .btns {
    margin-top: 50px;
  }
}

.b2 .btns a,
.b2 .btns button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  min-width: 110px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #333;
  font-size: 14px;
  background-color: #ffde00;
}

@media only screen and (min-width: 1280px) {
  .b2 .btns a,
  .b2 .btns button {
    width: 160px;
    height: 60px;
    line-height: 60px;
    font-size: 20px;
  }
}

.b2 .btns .al {
  float: left;
}

.b2 .btns .al a,
.b2 .btns .al button {
  min-width: 90px;
  border: #b2b2b2 solid 1px;
  background-color: #fff;
}

.b2 .btns .ar {
  float: right;
}

.b2 .btns .ar a,
.b2 .btns .ar button {
  min-width: 90px;
}

.b2 .paging {
  margin-top: 20px;
  text-align: center;
}

.b2 .paging button {
  width: 30px;
  height: 30px;
  color: #47576d;
  border: #b2b2b2 solid 1px;
  vertical-align: middle;
}

.b2 .paging button.go_first {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}

.b2 .paging button.go_first::after {
  content: "\f04a";
}

.b2 .paging button.go_prev {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}

.b2 .paging button.go_prev::after {
  content: "\f0d9";
}

.b2 .paging button.go_next {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}

.b2 .paging button.go_next::after {
  content: "\f0da";
}

.b2 .paging button.go_last {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}

.b2 .paging button.go_last::after {
  content: "\f04e";
}

.b2 .paging span {
  font-size: 16px;
  color: #000;
  margin: 0 10px;
  vertical-align: middle;
}

@media only screen and (min-width: 1280px) {
  .b2 .paging span {
    font-size: 20px;
  }
}

.b2 .text_list {
  border-top: #53647c solid 3px;
}

.b2 .text_list > li {
  margin-top: 15px;
}

.b2 .text_list > li label {
  color: #000;
  font-size: 16px;
  font-weight: bold;
}

.b2 .text_list > li input {
  margin-top: 10px;
  border: #e5e5e5 solid 1px;
  padding: 5px 10px;
  width: 100%;
  height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (min-width: 1280px) {
  .b2 .text_list::after {
    content: '';
    display: block;
    clear: both;
  }
  .b2 .text_list > li {
    margin-top: 30px;
    float: left;
    width: 33.333%;
    padding: 0 5px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .b2 .text_list > li label {
    font-size: 20px;
    font-weight: normal;
  }
  .b2 .text_list > li input {
    height: 60px;
    font-size: 20px;
  }
}

.b2 .info_list {
  margin-top: 10px;
}

.b2 .info_list > li {
  position: relative;
  padding-left: 14px;
  font-size: 14px;
}

.b2 .info_list > li::before {
  content: '-';
  position: absolute;
  left: 0;
  top: 0;
  display: block;
}

@media only screen and (min-width: 1280px) {
  .b2 .info_list {
    margin-top: 20px;
  }
  .b2 .info_list > li {
    position: relative;
    padding-left: 18px;
    font-size: 18px;
  }
  .b2 .info_list > li::before {
    content: '-';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
  }
}

.b2 .btn_more {
  border-top: #e5e5e5 solid 1px;
  background-color: #f8f8f8;
  padding: 10px 0;
  width: 100%;
}

@media only screen and (min-width: 1280px) {
  .b2 .btn_more {
    font-size: 24px;
  }
}

.b2 .map_wrap {
  width: 100%;
  height: 250px;
}

@media only screen and (min-width: 1280px) {
  .b2 .map_wrap {
    height: 400px;
  }
}

.b2_pop {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
}

.b2_pop .pop_header {
  height: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 15px;
  z-index: 5;
  background-color: #fff;
}

.b2_pop .pop_header::after {
  content: '';
  display: block;
  clear: both;
}

.b2_pop .pop_header .btn_pop {
  float: right;
  width: 40px;
  height: 40px;
}

.b2_pop .pop_header .btn_pop span {
  display: block;
  width: 28px;
  height: 34px;
  margin: 0 auto;
  position: relative;
}

.b2_pop .pop_header .btn_pop span i {
  display: block;
  width: 29px;
  top: 15px;
  position: absolute;
  left: 0;
  width: 28px;
  height: 3px;
  background: #333;
  -webkit-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
}

.b2_pop .pop_header .btn_pop span i.pl1 {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.b2_pop .pop_header .btn_pop span i.pl2 {
  opacity: 0;
}

.b2_pop .pop_header .btn_pop span i.pl3 {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.b2_pop .pop_header h3 {
  text-align: center;
  color: #000;
  font-size: 22px;
  padding-top: 5px;
}

.b2_pop .pop_in {
  padding: 0 20px;
  height: calc(100% - 60px);
  overflow: auto;
  background-color: #fff;
  z-index: 50;
}

.b2_pop .pic_pop {
  margin: 0 -20px;
  height: 160px;
  overflow: hidden;
  background: url(../images/bg_profilePhoto.png) 50% 100% no-repeat;
  background-size: auto 150px;
  background-color: #9c7655;
  text-align: center;
}

.b2_pop .tit_pop {
  padding: 20px 0 15px 0;
}

.b2_pop .tit_pop::after {
  content: '';
  display: block;
  clear: both;
}

.b2_pop .tit_pop .name {
  float: left;
  font-size: 19px;
  color: #000;
  font-weight: bold;
}

.b2_pop .tit_pop .price {
  float: right;
  font-size: 13px;
  color: #000;
}

.b2_pop .tit_pop .price strong {
  font-family: 'Roboto';
  font-size: 21px;
}

.b2_pop .tit_pop .price span {
  color: #999;
}

.b2_pop .n_list_pop {
  border-top: #53647c solid 3px;
}

.b2_pop .n_list_pop > li {
  position: relative;
  border-bottom: #e5e5e5 solid 1px;
  padding: 15px 5px;
}

.b2_pop .n_list_pop > li .tit {
  font-weight: bold;
  font-size: 14px;
  color: #000;
}

.b2_pop .n_list_pop > li .exp {
  font-size: 14px;
  color: #555;
}

.b2_pop .n_list_pop > li .btn_s {
  position: absolute;
  right: 0;
  top: 12px;
}

.b2_pop .n_list_pop > li .btn_s button {
  border: #b2b2b2 solid 1px;
  background-color: #fff;
  padding: 2px 10px;
  margin: 0 5px;
}

.b2_pop .n_list_pop > li .reply_modify {
  display: none;
}

.b2_pop .n_list_pop > li .reply_modify .point_wrap strong {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}

.b2_pop .n_list_pop > li .reply_modify .input_wrap textarea {
  width: 100%;
  height: 4.5em;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.b2_pop .n_list_pop > li .reply_modify .btn_wrap {
  overflow: hidden;
}

.b2_pop .n_list_pop > li .reply_modify .btn_wrap button,
.b2_pop .n_list_pop > li .reply_modify .btn_wrap a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 48%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #333;
  font-size: 19px;
}

.b2_pop .n_list_pop > li .reply_modify .btn_wrap button.btn_cancel,
.b2_pop .n_list_pop > li .reply_modify .btn_wrap a.btn_cancel {
  float: left;
  border: #b2b2b2 solid 1px;
  background-color: #fff;
}

.b2_pop .n_list_pop > li .reply_modify .btn_wrap button.btn_modify,
.b2_pop .n_list_pop > li .reply_modify .btn_wrap a.btn_modify {
  float: right;
  background-color: #ffde00;
}

.b2_pop .n_reply_pop {
  border-top: #53647c solid 3px;
}

.b2_pop .n_reply_pop > li {
  padding-top: 10px;
}

.b2_pop .n_reply_pop > li.point_wrap strong {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}

.b2_pop .n_reply_pop > li.input_wrap textarea {
  width: 100%;
  height: 4.5em;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.b2_pop .n_reply_pop > li.btn_wrap button,
.b2_pop .n_reply_pop > li.btn_wrap a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: #333;
  font-size: 19px;
  background-color: #ffde00;
}

.b2_pop .d_btm_pop {
  margin-top: 30px;
  margin-bottom: 110px;
}

.b2_pop .d_btm_pop b {
  display: block;
  margin: 0 -20px;
  border-top: #f8f8f8 solid 10px;
  padding-bottom: 30px;
}

.b2_pop .d_btm_pop h4 {
  font-size: 14px;
  color: #000;
  font-weight: normal;
  margin-bottom: 15px;
}

.b2_pop .d_btm_pop h4 em {
  color: #eb3700;
}

.b2_pop .d_btm_pop h4.mt {
  margin-top: 30px;
}

.b2_pop .d_btm_pop .pt {
  padding-top: 5px;
}

.b2_pop .d_btm_pop .point {
  display: inline-block;
}

.b2_pop .d_btm_pop .point i {
  display: inline-block;
  width: 15px;
  height: 15px;
  color: #dbdbdb;
  font-siZe: 15px;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}

.b2_pop .d_btm_pop .point i::after {
  content: "\f005";
}

.b2_pop .d_btm_pop .point i.on {
  color: #eb3700;
}

.b2_pop .d_btm_pop .point button {
  display: inline-block;
  width: 40px;
  height: 40px;
  color: #dbdbdb;
  font-siZe: 40px;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}

.b2_pop .d_btm_pop .point button::after {
  content: "\f005";
}

.b2_pop .d_btm_pop .point button.on {
  color: #eb3700;
}

.b2_pop .d_btm_pop .cate {
  font-size: 14px;
  color: #000;
  font-weight: bold;
  margin-left: 10px;
}

.b2_pop .d_btm_pop .name {
  font-size: 13px;
  color: #777;
}

.b2_pop .d_btm_pop .date {
  font-size: 14px;
  color: #777;
  font-family: 'Roboto';
}

.b2_pop .d_btm_pop .date::before {
  content: '|';
  display: inline-block;
  padding-right: 10px;
  margin-left: 10px;
  font-size: 10px;
  color: #cfcfcf;
  vertical-align: 2px;
}

.b2_pop .btns {
  margin-top: 50px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
}

.b2_pop .btns a,
.b2_pop .btns button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: #333;
  font-size: 19px;
  background-color: #ffde00;
}

@media only screen and (min-width: 1280px) {
  .b2_pop {
    left: 50%;
    top: 50%;
    width: 1000px;
    height: 700px;
    margin: -350px 0 0 -500px;
  }
  .b2_pop::after {
    content: '';
    display: block;
    position: fixed;
    z-index: -1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
  }
  .b2_pop .pop_header h3 {
    font-size: 26px;
    padding-top: 0;
  }
  .b2_pop .tit_pop {
    padding: 20px 0 15px 0;
  }
  .b2_pop .tit_pop .name {
    font-size: 22px;
  }
  .b2_pop .tit_pop .price {
    font-size: 18px;
  }
  .b2_pop .tit_pop .price strong {
    font-size: 28px;
  }
  .b2_pop .n_list_pop > li {
    padding: 15px 5px;
  }
  .b2_pop .n_list_pop > li .tit {
    font-size: 18px;
  }
  .b2_pop .n_list_pop > li .exp {
    font-size: 18px;
  }
  .b2_pop .d_btm_pop {
    margin-top: 50px;
    margin-bottom: 140px;
  }
  .b2_pop .d_btm_pop b {
    display: none;
  }
  .b2_pop .d_btm_pop h4 {
    font-size: 22px;
  }
  .b2_pop .d_btm_pop .point i {
    width: 20px;
    height: 20px;
    font-siZe: 20px;
  }
  .b2_pop .d_btm_pop .cate {
    font-size: 18px;
  }
  .b2_pop .d_btm_pop .name {
    font-size: 18px;
  }
  .b2_pop .d_btm_pop .date {
    font-size: 18px;
  }
  .b2_pop .btns {
    height: 80px;
  }
  .b2_pop .btns a,
  .b2_pop .btns button {
    height: 80px;
    line-height: 80px;
    font-size: 24px;
  }
}
/*# sourceMappingURL=sub2.css.map */